:root{
    --fw-regular: 400;
    --fw-bold: 600;
    --ff-bodoni: "Bodoni Moda", serif;
 }


*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.eventos-bg {
    background-color: #FFFAEB;
}

.bold {
    font-weight: var(--fw-bold);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
    top: 0;
    z-index: 1;

   /* animation: animacion-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px; */
}

header h1 {
    font-family: var(--ff-bodoni);
    font-weight: var(--fw-bold);
    font-style: italic;
    padding-right: 1rem;
    /*font-size: 2.4rem; */
    font-size: clamp(1.6rem, 5vw, 3rem);

   /* animation: h1-font-size linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;    */
}

.animacion-header {
    position: sticky;
    animation: animacion-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

.animacion-header h1 {
    animation: h1-font-size linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px; 
}

.contenedor-ciudades-eventos {
    overflow: hidden;
    text-overflow: hidden;
}


.ciudades-eventos-d {
    position: relative;
    left: -1000px;
    font-size: 12rem;
    margin-block: -3rem;
    text-wrap: nowrap;
    color: transparent; 
    -webkit-text-stroke: 1px black; /* Establece el contorno del texto */
    transition: 10s linear;
}

.ciudades-eventos-d:hover {
    translate: 500px;
    transition-duration: 5s;
}


.ciudades-eventos-i{
    position: relative;
    left: -1000px;
    font-size: 12rem;
    margin-block: -3rem;
    text-wrap: nowrap;
    color: transparent; 
    -webkit-text-stroke: 1px black; /* Establece el contorno del texto */
    transition: 10s linear;
}


.ciudades-eventos-i:hover {
    translate: -500px;
    transition-duration: 5s;
}

.ciudades-eventos-d:hover .ciudades-eventos-color,
.ciudades-eventos-i:hover .ciudades-eventos-color {
    color:black;
}

header ul {
    display: flex;
    gap: 1.2em;

}

header ul li a{
    font-family: var(--ff-bodoni);
    font-weight: var(--fw-regular);
    /*font-size: 1.6rem;*/
    font-size: clamp(1.2rem, 4vw, 1.6rem);

    animation: li-font-size linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

.font-eventos {
    color: #a6a6a6;
}

.font-eventos:hover {
    color: black;
}

section img {
    object-fit: cover;
    display: block;
    border-radius: 4px;
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
    z-index: -1;

    transition: 0.4s ease-out;
}

.contenedor-img:hover img{
    scale: 1.1;
    opacity: .6;
    transition-duration: 1s;
}

.contenedor-img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 32px;
    max-width: 420px;
}

.nombres-modelos{
    position: absolute;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    opacity: 0;
    font-size: 1rem;
    color: white;
    transition: 0.4s ease-out;
}

.contenedor-img:hover .nombres-modelos {
    opacity: 1;
    font-size: 3rem;
    transition-duration: .8s;
}

.contenedor-img-no-opacity {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 32px;
    max-width: 420px;
}

.contenedor-img-no-opacity:hover img{
    scale: 1.1;
    transition-duration: 1s;
}

section {
    padding: 1em 2em;
}

footer {
    padding: 2.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nombre-ficha {
    position: relative;
    color: black;
    font-size: clamp(5rem, 10vw, 10rem);
    justify-content: center;
    text-align: center;
    top: -64px;
    transition: 1s ease-out;
    animation: drop-name .6s cubic-bezier(0, 1.28, 0.68, 0.98)
}

.nombre-ficha:hover {
    translate: 0 -16px;
}

/* CONTENEDORES */

.contenedor-columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    overflow-y: hidden;
}

.columna {
    display: flex;
    flex-direction: column;
}

/* Se invierte la columna y se vuelve a colocar en el vp */

.columna-reverse {
	transform: translateY(calc(-100% + 100vh));
    flex-direction: column-reverse;
    animation: scroll-inverso linear both;
	animation-timeline: scroll(root block);
}

    /* CONTENEDOR SECCIONES */

.contenedor-flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
}

.contenedor-flexwrap > .contenedor-img {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 25%;
}

    /* CONTENEDOR SLIDE */

    .contenedor-ficha {
        display: flex;
        flex-direction: column;
    }

    .contenedor-slides {
        min-width: 290px;
        max-width: 600px;
        max-height: 500px;
        margin-inline: auto;
        overflow-x: scroll;
        display: flex;
    }

    .contenedor-slides img {
        border-radius: 0;
        width: 100%;
        display: inline-block;
        object-fit: cover;
        object-position: top;
    }

    .contenedor-especificaciones {
        display: flex;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .datos {
        position: relative;
        top: -32px;
        font-family: var(--ff-bodoni);
        font-size: clamp(1.125rem, 5vw, 1.4rem);
       
    }

    .datos li {
        padding-bottom: 1em;
        animation: reveal-datos linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 20%
    }


/* ANIMACIONES /

    /* Animación header */
@keyframes animacion-header {
    to {
        background: rgba(255, 255, 255, .4);
        backdrop-filter: blur(5px);
    }
}

@keyframes h1-font-size {
    to {
        font-size: 1.125rem;
    }
}

@keyframes li-font-size {
    to {
        font-size: 1rem;
    }
}

    /* Animación scroll-reverse en inicio */

@keyframes scroll-inverso {
	from {
		transform: translateY(calc(-100% + 100vh));
	}

	to {
		transform: translateY(calc(100% - 100vh));
	}
}

/* Animación revelado fotos */

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
    }

    to {
        opacity: 1;
        translate: 0 0px;
    }
}

@keyframes drop-name {
    from {
        transform: translateY(-1000px);
    }

    to {
        transform: translateY(0px);
    }
    
}

@keyframes reveal-datos {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}